/* Globals */

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  background: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
  font-weight: 500;
  color: white;
  height: 100%;
}

#main.modal_shown {
  filter: brightness(0.3) blur(6pt);
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}

a {
  color: rgb(0, 171, 223);
  text-decoration: none;
}

.hidden {
  transform: scale(0);
}

#title {
  font-size: 1.3em;
  font-weight: 600;
}

/* Div blocks */

.card {
  background-color: #1d1d1d;
  padding: 16pt;
  margin: 32pt 16pt;
  border-radius: 24pt;
  overflow: auto;
}

.tweak_card {
  background-color: #1d1d1d;
  padding: 16pt;
  margin: 0 16pt;
  margin-bottom: 36pt;
  border-radius: 24pt;
  overflow: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

/* Card without bg */

.chunk {
  padding: 16pt;
  margin: 32pt 16pt;
}

.break {
  height: 5vh;
  width: 100%;
}
.break_large {
  height: 30vh;
  width: 100%;
}

/* Highlights */

.keyword {
  color: rgb(53, 124, 255);
  display: inline;
}

.path {
  color: #777777;
  display: inline;
}

/* Components of tweak box */

.tweak_name {
  font-size: 1.15em;
  font-weight: 600;
}

.tweak_desc {
  font-size: 0.85em;
}

.tweak_version {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 12px;
  font-size: 0.7em;
  background-color: #00000060;
  border-radius: 12px;
}

/* Tweak overlay */

#tweak_overlay_card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1d1d1d;
  border-radius: 32pt;
  transition: all 0.3s;
  overflow-x: hidden;
  overflow-y: scroll;
}

#tweak_header {
  display: table;
  margin: 24pt;
  margin-bottom: 0;
}

#tweak_icon {
  height: 180pt;
  display: table-cell;
  border-radius: 20%;
  border: 3pt solid gray;
}

#tweak_name {
  font-size: 2em;
  font-weight: 600;
  padding-left: 24pt;
  height: 180pt;
  display: table-cell;
  vertical-align: middle;
}

#tweak_subtitle {
  font-size: 0.5em;
  font-weight: 500;
}

#tweak_get {
  font-size: 0.6em;
  font-weight: 600;
  width: 100pt;
  border-radius: 50pt;
  padding: 12pt;
  background-color: rgb(53, 124, 255);
  text-align: center;
  color: white;
  display: inline-block;
}

#tweak_get.red {
  background-color: indianred !important;
  width: 200pt;
}

#tweak_miscs {
  display: flex;
  justify-content: center;
  margin-top: 12pt;
  margin-left: 24pt;
  width: 100%;
}

.tweak_misc {
  font-weight: 500;
  margin: 0 12pt;
  padding: 12pt;
  background-color: #00000060;
  border-radius: 12pt;
}

.tweak_heading {
  margin-left: 24pt;
  margin-top: 24pt;
  margin-bottom: 24pt;
  font-size: 1.5em;
  font-weight: 600;
}

.tweak_desc {
  margin-left: 24pt;
  margin-right: 24pt;
  font-family: Arial, Helvetica, sans-serif;
}

#tweak_screens {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(4 * (50vmin + 24pt));
  height: 50vmax;
  margin-left: 12pt;
  overflow-x: auto;
}

.tweak_screen {
  width: calc(50vmax * 0.462);
  height: 50vmax;
  margin-right: 24pt;
}