/* Globals */

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: 'Avenir Next';
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: black;
  font-size: 4.3vmin;
  font-weight: 400;
  color: white;
  height: 100%;
}

#main.modal_shown {
  filter: brightness(0.3) blur(6pt);
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}

a {
  color: rgb(0, 171, 223);
  text-decoration: none;
}

.hidden {
  transform: scale(0);
}

#title {
  font-size: 2em;
  font-weight: 500;
}

/* Div blocks */

.card {
  background-color: #101010;
  font-size: 1.3em;
  padding: 8pt;
  margin: 8pt 4pt;
  border-radius: 12pt;
  overflow: auto;
}

.tweak_card {
  background-color: #101010;
  padding: 8pt;
  margin: 0 4pt;
  margin-bottom: 24pt;
  border-radius: 12pt;
  overflow: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

/* Card without bg */

.chunk {
  padding: 8pt;
  margin: 8pt 4pt;
}

.break {
  height: 3vh;
  width: 100%;
}
.break_large {
  height: 20vh;
  width: 100%;
}

/* Highlights */

.keyword {
  color: rgb(53, 124, 255);
  display: inline;
}

.path {
  color: #777777;
  display: inline;
}

/* Components of tweak box */

.tweak_name {
  font-size: 1.15em;
  font-weight: 500;
}

.tweak_desc {
  font-size: 0.85em;
}

.tweak_version {
  position: absolute;
  top: 4pt;
  right: 4pt;
  padding: 4pt;
  font-size: 0.7em;
  background-color: #00000060;
  border-radius: 4pt;
}

#close_btn {
  position: absolute;
  top: 8pt;
  right: 8pt;
  font-size: 32pt;
}

/* Tweak overlay */

#tweak_overlay_card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  border-radius: 16pt;
  transition: all 0.3s;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 400;
}

#tweak_header {
  display: table;
  margin: 12pt;
  margin-bottom: 0;
}

#tweak_icon {
  height: 35vmin;
  display: table-cell;
  border-radius: 20%;
  border: 2pt solid gray;
}

#tweak_name_container {
  font-size: 2em;
  font-weight: 500;
  padding-left: 12pt;
  height: 35vmin;
  display: table-cell;
  vertical-align: middle;
}

#tweak_subtitle {
  font-size: 0.5em;
  font-weight: 500;
}

#tweak_get {
  font-size: 0.6em;
  font-weight: 500;
  border-radius: 16pt;
  padding: 4pt 16pt;
  background-color: rgb(53, 124, 255);
  text-align: center;
  color: white;
  display: inline-block;
}

#tweak_get.red {
  background-color: indianred !important;
}

#tweak_miscs {
  display: flex;
  justify-content: center;
  margin-top: 16pt;
  width: 100%;
}

.tweak_misc {
  font-weight: 500;
  margin: 0 8pt;
  padding: 8pt;
  background-color: #00000060;
  border-radius: 8pt;
}

.tweak_heading {
  margin-left: 12pt;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 1.5em;
  font-weight: 500;
}

.tweak_para {
  margin-left: 12pt;
  margin-right: 12pt;
}

#tweak_screens {
  display: flex;
  height: 50vmax;
  padding-left: 8pt;
  overflow-x: auto;
  overflow-y: hidden;
}

.tweak_screen {
  height: 50vmax;
  margin-left: 8pt;
  margin-right: 8pt;
}

#tweak_demo {
  min-width: calc(50vmax * 0.462);
}